@import url(./__title/filter__title.css);
@import url(./__select-wrapper/filter__select-wrapper.css);
@import url(./__select-wrapper/_min-resolution/filter__select-wrapper_min-resolution.css);
@import url(./__range/filter__range.css);
@import url(./__checkboxes-list/filter__checkboxes-list.css);
@import url(./__type/filter__type.css);
@import url(./__checkboxes-item/filter__checkboxes-item.css);
@import url(./__min-square/filter__min-square.css);
@import url(./__radiobuttons/filter__radiobuttons.css);
@import url(./__ram-list/filter__ram-list.css);
@import url(./__radiobuttons-item/filter__radiobuttons-item.css);
@import url(./__camera/filter__camera.css);

.filter {
  width: 348px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filter::-webkit-scrollbar {
  display: none;
}

.filter fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  border: none;
}


.filter label,
.filter legend {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 1.57;
  letter-spacing: 0.02em;
  color: var(--disabled-blue);
}

.filter select {
  display: block;
  width: 100%;
  min-height: 48px;
  padding: 10px 0 6px 20px;
  border: 2px solid var(--disabled-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: var(--titles-color);
  background-color: var(--main-bg);
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.filter select:disabled+svg {
  fill: var(--disabled-blue);
  cursor: default;
}

.filter select:disabled:hover {
  cursor: default;
}

.filter select:focus {
  outline: none;
  border: 2px solid var(--light-blue);
  padding: 10px 0px 6px 20px;
  background-position: 90.5% 50%;
}

.filter__checkboxes-list label,
.filter__radiobuttons label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: var(--main-blue);
  cursor: pointer;
  user-select: none;
}

.filter__checkboxes-list,
.filter__radiobuttons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: var(--animation);
}
